* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.b-weather-app {
  min-height: 100vh;
  color: #353434;
}
.b-weather-app.m-warm {
  color: #FFF;
  background-image: url(../src/images/warm.jpg);
  background-size: cover;
}
.b-weather-app.m-cold {
  color: #FFF;
  background-image: url(../src/images/cold.jpg);
  background-size: cover;
}
.b-weather-app .e-app-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}
.b-weather-app .e-input {
  align-self: start;
  width: 100%;
  padding: 1rem;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  transition: box-shadow 0.2s ease-in-out;
}
.b-weather-app .e-input:focus,
.b-weather-app .e-input:active {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.b-weather-app .e-location {
  padding: 2rem;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.b-weather-app .e-location:empty {
  padding: 0;
}
.b-weather-app .e-temperature {
  position: relative;
  font-weight: 400;
}
.b-weather-app .e-temperature:before {
  content: "Temperature: ";
}
.b-weather-app .e-temperature:after {
  content: " °C";
}
.b-weather-app .e-sky {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.b-error-container {
  width: 90vw;
  margin: 50% 50%;
  padding: 3rem;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  background: rgba(255, 0, 0, 0.15);
  border: 1px solid #ff0000;
  transform: translate(-50%, -50%);
}
